extends layout

block content
    form(action="/register", method="post")   
        label(for='first_name') First Name 
        input(id="first_name",type="text", name="first_name", required=true)
        
        label(for='last_name') Last Name 
        input(id="last_name",type="text", name="last_name", required=true)
        
        label(for='email') Email 
        input(id="email",type="email", name="email", required=true)
        label(for='password') Password 

        input(id="password",type="password", name="password", required=true)
        button(type="submit",value='Sign up') 